@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* shared styles */
.poppins_normal {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter_normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.display_flex {
    display: flex;
}

.btn_primary {
    font-weight: 600;
    color: #ffffff;
    background-color: #E02C6D;
    padding: 10px 20px;
    border-radius: 41px;
    border: none;
}
.max_width {
    max-width: 1140px;
    margin: 0 auto;
}
/* Navbar related styles */
.nav{
    /* position: fixed;
    width: 100%; */
    
    background-color: #333446;
}
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand_logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

.nav_items {
    gap: 35px;
}

.nav_link {
    list-style: none;
    font-weight: 600;
}

.nav_link a {
    text-decoration: none;
    color: #ffffff;
}

.nav_link a i {
    font-size: 26px;
}

/* Banner related styles */
.banner {
    margin-top: 50px;
    gap: 130px;
}

.banner_title {
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 0;
}

.banner_description {
    font-weight: 600;
    margin-bottom: 20px;
}

.banner_profile {
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* sponsor related styles */
.sponsors {
    max-width: 1110px;
    margin: 70px auto 100px auto;
}

.sponsor_company {
    justify-content: space-around;
    border-top: 1px solid rgba(120, 120, 133, 0.3);
    border-bottom: 1px solid rgba(120, 120, 133, 0.3);
    padding: 35px;
}

/* collection related style */
.collection {
    max-width: 1047px;
    margin: 0 auto;
}

.collection_title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.collection_item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.collection_card {
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.collection_item img {
    width: 100%;
}

.card_title {
    font-size: 1.6rem;
    font-weight: 500;
    color: #18191F;
    margin: 0;
}

.price {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
}

.rating i {
    color: #FB8200;

}

.rating_count {
    font-size: .88rem;
    font-weight: 700;
    margin-left: 8px;
}

.product_description {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #787885;
}

.see_more {
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    border: none;
    text-decoration: none;
    float: right;
    margin-top: 50px;
}

.see_more,
.btn_join span {
    margin-left: 5px;
}

/* feature related styles */
.feature {
    display: flex;
    gap: 100px;
    max-width: 1110px;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
}

.feature_description {
    font-weight: 700;
    color: #6C6C6C;
}

.feature_title {
    font-size: 38px;
    font-weight: 700;
    margin: 0;
}

.btn_join {
    font-weight: 600;
    color: #ffffff;
    background-color: #E02C6D;
    padding: 10px 20px;
    border: none;
}

/* footer related styles */
.footer {
    background-color: #09122C;
}

.footer_content {
    max-width: 300px;
    margin: 0 auto;
    padding: 60px 0;
    text-align: center;
}

.footer_title {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    letter-spacing: 1.5px;
}

.footer_copy_right {
    font-size: 14px;
    color: #ffffff;
}

.footer_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer_icon a i {
    position: absolute;
    transform: translate(-50%, 50%);
}


.footer_icon a {
    width: 32px;
    height: 32px;
    font-size: 14px;
    background-color: #393E46;
    color: #ffffff;
    border-radius: 50%;
}
.footer_icon a:hover{
    font-size: 16px;
    background-color: #ffffff;
    color: #09122C;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}


/* responsive for small device */
@media screen and (max-width: 576px) {

    .navbar,
    .nav_items,
    .sponsor_company {
        flex-direction: column;
    }

    .banner, 
    .feature {
        flex-direction: column-reverse;
    }

    .banner_profile {
        width: 100%;
    }

    .banner_title {
        font-size: 2rem;
    }

    .sponsor_company img {
        max-width: 90%;
        margin: 0 auto;
    }

    .sponsor_company {
        gap: 30px;
    }

    .collection_item {
        grid-template-columns: 1fr;
    }

    .collection_item, .feature img {
        width: 100%;
    }
}

/* responsive for medium device */
@media screen and (min-width: 576px) and (max-width: 768px) {

    .navbar,
    .nav_items,
    .sponsor_company {
        flex-direction: column;
    }

    .banner,
    .feature {
        flex-direction: column-reverse;
    }

    .banner_profile {
        width: 100%;
    }

    .sponsor_company img {
        max-width: 90%;
        margin: 0 auto;
    }

    .sponsor_company {
        gap: 30px;
    }

    .collection_item {
        grid-template-columns: 1fr;
    }

    .collection_item, .feature img {
        width: 100%;
    }

}

/* responsive for large device */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .banner {
        flex-direction: column-reverse;
    }

    .banner_profile {
        width: 100%;
    }

    .sponsor_company {
        gap: 10px;
    }

    .collection_item {
        grid-template-columns: repeat(2, 1fr);
    }

    .collection_item img {
        width: 100%;
    }
}